* {
    box-sizing: border-box;
    transition: all .15s;
}
.hidden {
    display: none;
}
#menu_trigger {
    display: none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #000;
    background: #fff;
    /* text-align: center; */
    overflow-x: hidden;
}
.highlight {
    color: #ff2020;
    font-style: italic;
}
button, input[type=submit] {
    font-family: 'Montserrat', sans-serif !important;
}
::selection {
    background-color: #ff2020;
    color: white;
}
nav {
    background-color: #ff2020;
    text-align: center !important;
}
nav a{
    margin-right: 1rem !important;
    padding: .5em !important;
    color: white !important;
    text-transform: uppercase !important;
    font-size: 120% !important;
    font-weight: bold !important;
    position: relative !important;
}
nav span {
    display: inline-block;
    /* margin-bottom: .5rem; */
}
aside {
    display: flex;
    align-items: center;
    justify-content: left;
}
#loginImg {
    width: 2rem !important;
    /* transform: translateY(25%) !important; */
}
#logoImg {
    width: 3rem !important;
    /* transform: translateY(25%) !important; */
}
nav a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #fff;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s;
}
nav a:hover::before {
    width: 40% !important;
}
#logo::before {
    width: 0 !important;
}
a {
    color: #000;
    text-decoration: none !important;
}
#container {
    margin: 1rem;
    /*text-align: left;*/
    display: grid;
    align-items: center;
}
footer {
    background-color: #4d4d4d;
    display: inline-block;
    color: #fff;
    font-size: 75%;
    white-space: nowrap;
    margin: 0 auto;
}

/*Main page*/

 #bar {
    display: block;
    background-color: white;
    padding: 1rem 0;
    width: 100%;
    overflow-x: hidden;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2rem;
}

#bar-content {
    font-size: 120%;
    display: block;
    width: 100%;
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

#bar-content:hover {
    animation-play-state: paused;
}

@keyframes move {
    to { transform: translateX(-100%); }
  }

/*Doctors page*/

#doctors {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 1rem;
    justify-content: center;
}
.card {
    display: grid;
    /* max-width: 20%; */
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
}
.card:hover {
    background-color: rgb(200, 200, 200);
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 3rem;
    transform: scale(110%);
}
.card p {
    margin: .3rem;
    grid-area: right;
}
.docImg {
    /* width: 200px; */
    height: 100px;
    max-width: 100%;
    grid-area: left;
    margin: auto;
    border-radius: 99rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.docTexts {
    padding-top: 2rem;
}
.docTexts .name {
    font-weight: bold;
    font-size: 120%;
    color: #ff2020;
}
.department, .email, .phone{
    font-size: 90%;
}

/*karton page (list)*/
.animal {
    text-align: left;
    display: inline-block;
}
.animal img {
    margin-top: 1rem;
    width: 150px;
    border-radius: 99rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* max-width: 100%; */
}
.animal tr:nth-child(2), .animal tr:nth-child(4) {
    background-color: #888888;
}
.animal:hover {
    background-color:beige;
}
.animal button {
    width: 5rem;
    aspect-ratio: 3/1;
    background-color: #000000;
    border: 1px solid black;
    right: 10%;
    color: #fff;
    font-weight: bold;
    border-radius: .5rem;
}
.animal button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 3px solid black;
}
.animal tr:last-child {
    text-align: center;
}

/*Animal karton - .animal-karton- ... */

#animal-karton {
    position: relative;
}

#animals {
    text-align: center;
}

.animal-karton-img {
    width: 15rem;
    margin-left: 20rem;
    /* margin-bottom: 10rem; */
}

.animal-karton-desc {
    display: inline-block;
    /* margin-bottom: 12rem; */
}

.animal-karton-button {
    width: 6rem;
    z-index: 0;
    aspect-ratio: 1/1;
    background-color: #000000;
    border: 1px solid black;
    color: #fff;
    font-weight: bold;
    border-radius: .5rem;
}
.animal-karton-form {
    position: absolute;
    right: 10%;
    top: 8rem;
}
.animal-karton-button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 3px solid black;
}

.animal-karton-data {
    width: 100%;
    text-align: center;
    
}

.animal-karton-data tr:nth-child(even) {
    background-color: beige;
}

#animal_modify {
    margin-left: 20rem;
}

#animal_modify input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: .3rem;
}

#animal_modify input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/*Form pages*/

#form1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right" "button button";
}
.labels {
    grid-area: left;
}
.inputs {
    grid-area: right;
}

#form1 label {
    margin: .5rem 0 .5rem 80%;
}

#form1 input[type=text], #desc {
    margin: .5rem 50% 0 0;
}

#form1 input[type=submit] {
    grid-area: button;
    margin: 1rem auto;
}

/*Google Maps responsivity*/

.map-responsive {
    overflow: hidden;
    padding-bottom: 39%;
    position: relative;
    height: 0;
    margin: 0 5rem;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*Profile*/

#forms {
    display: grid;
    grid: auto/repeat(auto-fit, minmax(400px, 1fr));
    gap: 10%;
}
#schedules_list {
    margin: auto;
}
#schedules_list table {
    margin: 1rem;
}
#schedules_list table td, #schedules_list table th {
    text-align: center;
} 

#pfp {
    margin: auto;
    width: 15vw;
    aspect-ratio: 1/1;
    display: block;
    border-radius: 999rem;
    object-fit: cover;
}
/*Appointment*/
#doc {
    text-align: center;
}
#appointments form {
    display: inline-block;
}
#appointments table {
    text-align: left;
}
#appointments input[type=submit] {
    margin: 1rem auto 0 auto;
    display: block;
}
#sch_container {
    max-height: 15rem;
    overflow: auto;
}
.sch {
    margin: auto;
    border: 1px solid black;
}

@media (max-width: 1000px) {
    #form1 label {
        margin: .5rem 0 .5rem 50%;
    }
    .map-responsive {
        padding-bottom: 72%;
    }
    .animal-karton-img {
        margin-left: 0;
    }
    #schedules_list table{
        margin-top: 8rem;
    } 
    #animal_modify {
        margin-left: 0 !important;
    }
}

@media (max-width: 756px) {
    nav a {
        display: block;
        margin: .5rem;
    }
    #menu {
        width: 100%;
        background: #ff2020;
        min-height: 100%;
        position: absolute;
        left: 100vw;
        /* transition: all .3s; */
        z-index: 1;
        display: none;
    }
    #menu_trigger {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        font-size: 2em;
        height: 1.5em;
        aspect-ratio: 1 / 1;
    }
    .menu-open {
        left: 0 !important;
        display: block !important; 
    }
    .animal-karton-button {
        right: 2rem;
        top: 15rem;
    }
    .animal-karton-img {
        height: 50%;
    }
    #form1 label {
        margin: .5rem 0 .5rem 40%;
    }
    .map-responsive {
        padding-bottom: 100%;
        margin: 0;
    }
    body {
        background-image: url('images/bg-phone.jpg');
    }
    #schedules_list table{
        background-color: #f7f7f7;
    } 
    .animal-karton-form {
        top: 20rem;
        width: 5rem;
    }
}

@media (max-width: 400px) {
    .animal-karton-desc {
        margin-bottom: 0;
        display: block;
    }
    .animal-karton-button {
        aspect-ratio: 2/1;
    }
    .animal-karton-form {
        top: 26rem;
    }
    .animal-karton-img {
        display: block;
        margin: 0 auto;
    }
    .map-responsive {
        padding-bottom: 195%;
      }
}