* {
    box-sizing: border-box;
    transition: all .15s;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #000;
    background: #fff;
    /* text-align: center; */
    overflow-x: hidden;
}
button {
    font-family: 'Montserrat', sans-serif !important;
}
::selection {
    background-color: #ff2020;
    color: white;
}
#selects {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
#selected_user, #selected {
    margin: 1.5rem auto 0 auto;
}
.btn {
    padding: .5rem;
    width: 9rem;
    position: absolute;
    right: 0;
    margin: 2rem 1rem;
    background-color: #000000;
    border: 1px solid black;
    color: #fff;
    border-radius: .5rem;
    font-size: 14px;
}
a.btn {
    padding: .5rem;
    text-decoration: none;
    text-align: center;
}
a.btn:nth-child(2) {
    top: 3rem;
}
a.btn:nth-child(3) {
    top: 6rem;
}
.btn:hover, #updButton:hover, #insButton:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: 3px solid black;
}
div table {
    border-collapse: collapse;
}
table a {
    font-size: 90%;
    text-decoration: dotted;
    color: black;
}
table a:hover {
    background-color: black;
    color: white;
}
table a:active {
    background-color: #ff2020;
}
#selected tr:nth-child(even), #selected_user tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
}
#selected td, #selected_user td {
    text-align: center;
}
#selected_user td:nth-last-child(4) {
    min-width: 200px;
}
.update, .delete {
    background-color: black;
    color: white;
    margin: 0 .5rem;
}
.update:hover {
    background-color: yellow;
    color: black;
}
.delete:hover {
    background-color: red;
}
#loading {
    width: 4rem;
    margin: auto;
}
.hidden {
    display: none;
}
#form1, #form2 {
    text-align: center;
}
#inputs {
    text-align: right;
    margin: 1rem auto;
}
.info {
    position: absolute;
    right: 0;
}
#updButton, #insButton {
    padding: .5rem;
    width: 9rem;
    background-color: #000000;
    border: 1px solid black;
    color: #fff;
    border-radius: .5rem;
    font-size: 14px;
}
.user_img {
    height: 75px;
    max-width: 100%;
    grid-area: left;
    margin: auto;
    border-radius: 99rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}



@media (max-width: 1000px) {
    #container {
        padding-top: 12rem;
        width: 90vw !important;
    }
    #selected_user {
        margin: 0 auto;
    }
}